{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Practice concious spending">
    <title>Finanças Pessoais</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/button-eye.js' %}"></script>

</head>

<body>
    <header class="cabecalho">
        <div class="window-limit content-cabecalho">
            <nav class="logo-nome">
                <img class="logo-cabecalho" src="{% static 'img/logofinancas002.png' %}" alt="Logo Cabeçalho Personal Finances">
                <a class="nome-cabecalho">Finanças Pessoais</a>
            </nav>
            <nav class="cabecalho-menu">
                <a href="/" class="cabecalho-menu-item"><strong>Home</strong></a>
                <a href="/transacao" class="cabecalho-menu-item"><strong>Transações</strong></a>
                <a href="/categoria" class="cabecalho-menu-item"><strong>Categorias</strong></a>
                <a href="/fatura" class="cabecalho-menu-item"><strong>Fatura</strong></a>
            </nav>
        </div>

    </header>

    <main class="conteudo">
        <div class="gh"></div>
        <div class="window-limit">
            <div class="first-content">
                    <a>Fatura atual</a>
                <div class="first-content-balance">
                    <div class="value-container">
                        <a id="view-value"><strong>R$ {{valor_fatura}}</strong></a>
                        <a class="inactive-view" id="hide-value"><strong>R$ ---------</strong></a>
                    </div>
                    <button id="eye-button">
                        <img id="opened-eye" class="icon-eye" src="{% static 'img/icon-eye.png' %}" alt="ícone de olho aberto">
                        <img id="closed-eye" class="icon-eye inactive-view" src="{% static 'img/icon-eye-closed.png' %}"
                            alt="ícone de olho fechado">
                    </button>
                </div>

                <div class="second-content">
                    <button class="action-button">
                        <img src="{% static 'img/icon-plus.png' %}" alt="ícone de adicionar">
                        <a href="/transacao">Adicionar Transação</a>
                    </button>
                    <button class="action-button">
                        <img src="{% static 'img/icon-plus.png' %}" alt="ícone de adicionar">
                        <a href="/categoria">Criar Categoria</a>
                    </button>
                    <button class="action-button">
                        <img src="{% static 'img/icon-plus.png' %}" alt="ícone de visualização">
                        <a href="/fatura">Visualizar Fatura</a>
                    </button>
                </div>
                <div class="third-content">
                    <img src="{% static 'img/home-bg.png' %}" alt="background-home">
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <a>Trabalho Desenvolvimento Web @ 2022.1</a>
    </footer>
</body>

</html>